{% extends "base.html" %}
{% block body %}

<h1 class="text-center">
	<button id="return_home_button" type="button" class="btn btn-default">Return Home</button>
	<button id="export_button" type="button" src="{{ url_for('export_address_book', address_hash=g.address_book_hash) }}" class="btn btn-default">Export Address Book</button>
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#import_modal">Import Address Book</button>
</h1>

<div class="container">
  <ul class="nav nav-tabs">
    <li {% if g.active_tab == 'fields' %}class="active"{% endif %}><a data-toggle="tab" href="#fields_menu">Edit Fields</a></li>
    <li {% if g.active_tab == 'entries' %}class="active"{% endif %}><a data-toggle="tab" href="#entries_menu">Edit Entries</a></li>
  </ul>

<div class="tab-content">
    <div id="fields_menu" class="tab-pane{% if g.active_tab == 'fields' %} fade in active{% endif %}">
    	<h2 class="text-center">Edit Fields</h2>
		<div class="form-group">
			<form id="address_book_fields_form" method="POST" action="/_update_address_book_fields">
				<table id="address_book_fields_table" class="table">
					<thead>
						<tr>
							<th>Delete</th>
							<th>Field</th>
					</thead>
					<tbody>
					{% for field in g.address_book_fields %}
						<tr>
							<td>{% if field not in g.default_fields %}<button data-toggle="modal" data-target="#delete_row_modal" onClick="delete_confirm(this)" type="button" class="btn btn-danger">Delete</button>{% endif %}</td>
							<td><input class="form-control" type="text" name="address_book_fields[]" value="{{ field }}" {% if field in g.default_fields %}readonly{% endif %}/></td>
					{% endfor %}
					</tbody>
				</table>
				<input type="button" class="btn btn-default" id="add_field_button" value="Add a new field" />
				<input type="hidden" id="address_book_hash" name="address_book_hash" value="{{ g.address_book_hash }}" />
				<input type="submit" class="btn btn-default" value="Save" />
			</form>
		</div>
	</div>
	<div id="entries_menu" class="tab-pane{% if g.active_tab == 'entries' %} fade in active{% endif %}">
		<h2 class="text-center">Edit Entries</h2>
		<br>
		<div class="form-group">
			<table id="sort_table" class="table">
				<tr>
					<td>
						<label for="sort_by">Sort By:</label>
						<select class="form-control" id="sort_by">
								<option value=""></option>
							{% for field in g.address_book_fields %}
								<option value="{{ field }}" {% if g.sort_by is not none and g.sort_by == field %}selected{% endif %} >{{ field }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<label for="sort_method">Sort Method:</label>
						<select class="form-control" id="sort_method">
							<option value=""></option>
							{% for method in ["ascending", "descending"] %}
							<option value="{{ method }}" {% if g.sort_method is not none and g.sort_method == method %}selected{% endif %}>{{ method|capitalize }}</option>
							{% endfor %}
						</select>
					</td>
					<td style="vertical-align:bottom">
						<input style="width: 100%;{% if g.sort_by is none or g.sort_method is none %}display:none;{% endif %}" type="button" class="btn btn-success" id="sort_button" src="{{ url_for('address_book', address_hash=g.address_book_hash) }}" value="Sort"/>
					</td>
			</table>
			<form id="address_book_entries_form" method="POST" action="/_update_address_book_entries">
				<table id="address_book_entries_table" class="table">
					<thead>
						<tr>
							<th>Delete</th>
						{% for field in g.address_book_fields %}
							<th>{{ field }}</th>
						{% endfor %}
					</thead>
					<tbody>

					{% for entry in g.address_book_entries %}
						<tr>
							<td><button data-toggle="modal" data-target="#delete_row_modal" onClick="delete_confirm(this)" type="button" class="btn btn-danger">Delete</button></td>
						{% for field in g.address_book_fields %}
							<td><input class="form-control" type="text" name="address_book_entries_{{ loop.index0 }}[]" field="{{ field }}" value="{{ entry[field] }}" /></td>
						{% endfor %}
					{% endfor %}
					</tbody>
				</table>
				<input type="button" class="btn btn-default" id="add_entries_button" value="Add a new entry" />
				<input type="hidden" id="address_book_hash" name="address_book_hash" value="{{ g.address_book_hash }}" />
				<input type="submit" class="btn btn-default" value="Save" />
			</form>
		</div>
	</div>
</div>


<!-- Import Address Book Modal -->
<div class="modal fade" id="import_modal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Import Address Book</h4>
			</div>
			<div class="modal-body">
				<div class="checkbox">
					<label><input id="add_missing_fields" type="checkbox" value="" checked>Add missing fields</label>
				</div>

				<p>Copy/Paste the CSV contents:<br>
					<textarea id="import_data" style="height:250px; width:100%;"></textarea></p>
			</div>
			<div class="modal-footer">
				<button id="import_button" type="button" class="btn btn-success" data-dismiss="modal">Import</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->

<!-- Force Save Modal -->
<div class="modal fade" id="force_save_modal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Unsaved changes</h4>
			</div>
			<div class="modal-body">
				<table class="table" id="save_errors_table">
					<thead>
						<th>Entry</th>
						<th>Error</th>
					</thead>
					<tbody>

					</tbody>

				</table>
			</div>
			<div class="modal-footer">
				<button type="button" id="force_save_button" class="btn btn-success" data-dismiss="modal">Save anyway</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="hidden" id="force_save_switch" value="0" />
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->

<!-- Return Home Modal -->
<div class="modal fade" id="return_home_modal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Unsaved changes</h4>
			</div>
			<div class="modal-body">
				<p>You have unsaved changes. Are you sure you want to go back to the homepage?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onClick="go_home();" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(function() {
	$('#address_book_entries_table > tbody').sortable({
		update: function(event, ui) {
			set_recent_changes();
		}
	});

	$('#force_save_button').on('click', function() {
		$('#force_save_switch').val('1');
		$('#address_book_entries_form').trigger('submit');
	});

	$('#sort_by, #sort_method').on('change', function() {
		var sort_by = $('#sort_by').find(':selected').val();
		var sort_method = $('#sort_method').find(':selected').val();

		if(sort_by && sort_method) $('#sort_button').show();
		else $('#sort_button').hide();
	});

	$('#sort_button').on('click', function(e) {
		params = {
			"sort_by": $('#sort_by').find(':selected').val(),
			"sort_method": $('#sort_method').find(':selected').val(),
			"page": "entries"
		}
		redirect_page($(this).attr('src') + "?" + $.param( params ));
		e.preventDefault();
	});

	$('input').on('change', function() {
		set_recent_changes();
	});


	$('#export_button').on('click', function(e) {
		redirect_page($(this).attr('src'));
		e.preventDefault();
	});

	$('#import_button').on('click', function() {
		$.ajax({
			type: "POST",
			url: "/_import_address_book",
			context: $(this),
			data: {
				"import_data": $('#import_data').val(),
				"add_missing_fields": $('#add_missing_fields').is(':checked') ? "1" : "0",
				"address_book_hash": $("#address_book_hash").val()
			},
			dataType: "json",
			complete: function() {

			},
			success: function (result) {
				showError(result);
			}
		});
	});

	$('#return_home_button').on('click', function() {
		if(get_recent_changes() == "1") $('#return_home_modal').modal('toggle');
		else go_home();
	});

	$('#add_field_button').click(function() {
		var table = $(this).closest('form').find('table');

		new_row_html = '<td><button data-toggle="modal" data-target="#delete_row_modal" onClick="delete_confirm(this)" type="button" class="btn btn-danger">Delete</button></td>';
		new_row_html += '<td><input class="form-control" type="text" name="address_book_fields[]" value="" /></td>';

		new_row = $('<tr>').html(new_row_html);
		table.find('tbody').append(new_row);
	});


	$('form[id="address_book_fields_form"]').submit(function(e) {
		$.ajax({
			type: "POST",
			url: "/_update_address_book_fields",
			context: $(this),
			data: $(this).closest('form').serialize(),
			dataType: "json",
			complete: function() {

			},
			success: function (result) {
				showError(result);
			}
		});
		e.preventDefault();
	});

	$('form[id="address_book_entries_form"]').submit(function(e) {
		fields = [];
		entries = [];

		/* Using the <th> of the entries table, formulate a list of all the fields */
		$('#address_book_entries_table > thead > tr:first > th:not(:first-child)').each(function (i, table_header) {
			fields.push($(table_header).html());
		});

		/* Iterate through each row of the entries list and create a list per entry. Each sublist
		is composed of the row's columns. */
		$('#address_book_entries_table > tbody > tr').each(function (i, table_row) {
			entry_fields = [];
			$(table_row).find('td:not(:first-child)').each(function (i2, table_column) {
				input_box = $(table_column).find('input');
				if(!input_box.length) return true;

				var input_value = $(input_box[0]).val();

				//Special character stripping for phone numbers.
				if($(input_box[0]).attr('field') == "phone") {
					input_value = input_value.replace(/[- )(]/g,'');
				}
				entry_fields.push(input_value);
			});
			if(!entry_fields.length) return true;

			entries.push(entry_fields);
		});

		var force_save_switch = $('#force_save_switch').val();

		$.ajax({
			type: "POST",
			url: "/_update_address_book_entries",
			context: $(this),
			data: {
				"fields": JSON.stringify(fields),
				"entries": JSON.stringify(entries),
				"address_book_hash": $("#address_book_hash").val(),
				"force_save": force_save_switch
			},
			dataType: "json",
			complete: function() {

			},
			success: function (result) {
				if('error' in result) {
					if(force_save_switch == "0") {
						$('#save_errors_table > tbody').empty();

						result['errors'].forEach(function(error) {
							$('#save_errors_table > tbody')
								.append($('<tr>')
									.append($('<td>')
										.html(error['entry_id'])
									)
									.append($('<td>')
										.html(error['message'])
									)
								);
						});

						$('#force_save_modal').modal('show');
					}
					unset_recent_changes();
				} else showError(result);
				$("#force_save_switch").val('0');
			}
		});
		e.preventDefault();
	});

	$('#add_entries_button').click(function() {
		var table = $(this).closest('form').find('table');

		new_row_html = '<td><button data-toggle="modal" data-target="#delete_row_modal" onClick="delete_confirm(this)" type="button" class="btn btn-danger">Delete</button></td>';

		{% for book_field in g.address_book_fields %}
			new_row_html += '<td><input class="form-control" type="text" name="address_book_entries_{{ loop.index0 }}[]" value="" /></td>';
		{% endfor %}

		new_row = $('<tr>').html(new_row_html);
		table.find('tbody').append(new_row);
	});
});
</script>
{% endblock %}



