{% extends "base.html" %}
{% block body %}

<div class="container" style="text-align: center;">
	<h1 class="text-center"> <small> Meeting </small></h1>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#calendar_menu">Select Calendars</a></li>
		<li ><a data-toggle="tab" href="#meeting_menu">Meeting Info</a></li>
	</ul>

<div class="tab-content">
	<div id="calendar_menu" class="tab-pane fade in active">
		<h2 class="text-center">Calendar Selection</h2>
		{% if g.meeting.meeting_start %}
			<div class="form-group">
				<form action="/_get_user_calendars" method="POST">
					<input type="submit" class="btn btn-default" value="Get Calendars" />
				</form>
			</div>

			{% if g.calendars is defined %}
			<div class="form-group">
				<h3 class="text-center">Select which calendars to pull events from:</h3>
				<form action="/_select_calendars" method="POST">
				{% for cal in g.calendars %}
	  				<input type="checkbox" id="calendarList" name="calendarList[]" value="{{ cal.id }}" /> {{ cal.summary }}
				{% endfor %}
					<br>
					<input type="hidden" name="meeting_planner_hash" id="meeting_planner_hash" value="{{ g.meeting_hash }}" />
					<input type="submit" class="btn btn-default" value="Select Calendars" />
				</form>
			</div>
			{% endif %}

			{% if g.my_calendar is defined and g.my_calendar is not none %}
				<div id='my_availability_calendar'></div>
			{% endif %}
		{% else %}
		<p>The instructor must first set a meeting date range before you can authorize your Google Calendar.</p>

		{% endif %}
	</div>
	<div id="meeting_menu" class="tab-pane">
		<h2 class="text-center">Meeting Info</h2>
		<div class="form-group">
			<div class="col-xs-12">
				<table id="info_table" class="table">
					<tbody>
						<tr>
							<td>Name:</td>
							<td><input type="text" value="{{ g.meeting['name'] }}" readOnly /></td>
						<tr>
							<td>Description:</td>
							<td><input type="text" value="{{ g.meeting['description'] }}" readOnly /></td>
						<tr>
							<td>Meeting Date Range</td>
							<td>{% if g.meeting.meeting_start %}
								<input type="text" id="daterange" size="12" value="{{ g.meeting.meeting_start }} - {{ g.meeting.meeting_end }}" class="pull-down" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 12em" ></td>
								{% else %}
								Not yet set
								{% endif %}
					</tbody>
				</table>
			</div>
			<div class="col-xs-12">
				{% if g.instructor_calendar is defined and g.instructor_calendar is not none %}
					<h3>Your instructor's availability calendar:</h3>
					<div id="instructor_calendar"></div>
				{% else %}
					Your instructor has not yet synced their calendar for this meeting.
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(function() {
	function generate_calendar_events(calendar) {
		calendar_events = [];
		for(var i = 0; i < calendar.length; i++) {
			calendar_events.push({
				title: "Available",
				start: calendar[i]['start'],
				end: calendar[i]['end']
			});
		}
		return calendar_events;
	}

	{% if g.my_calendar is defined %}
		$('#my_availability_calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			defaultDate: moment("{{ g.meeting.meeting_start|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD'),
			editable: false,
			minTime: "06:00:00",
			maxTime: "21:00:00",
		    validRange: {
				start: moment("{{ g.meeting.meeting_start|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD'),
				end: moment("{{ g.meeting.meeting_end|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD')
			},
			eventRender: function(event, element) {
				$(element).tooltip({
					title: event.title
				});
			},
			events: generate_calendar_events({{ g.my_calendar.free_times|safe }})
		});

	{% endif %}

	{% if g.instructor_calendar is defined and g.instructor_calendar is not none %}
		$('#instructor_calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			defaultDate: moment("{{ g.meeting.meeting_start|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD'),
			editable: false,
			minTime: "06:00:00",
			maxTime: "21:00:00",
		    validRange: {
				start: moment("{{ g.meeting.meeting_start|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD'),
				end: moment("{{ g.meeting.meeting_end|safe }}", "MM/DD/YYYY").format('YYYY-MM-DD')
			},
			eventRender: function(event, element) {
				$(element).tooltip({
					title: event.title
				});
			},
			events: generate_calendar_events({{ g.instructor_calendar.free_times|safe }})
		});
	{% endif %}
});
</script>
{% endblock %}
